# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_DATABASE=loja

# API REST
API_HOST=0.0.0.0
API_PORT=8000

# Docker (opcional)
DB_PORT=3306
PHPMYADMIN_PORT=8080
